body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Light blue background */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 30px;
    width: 100%;
    background: linear-gradient(to right, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    color: transparent;
}

.container {
    width:90%;
    max-width: 800px;
    background-color: #fff;
    padding: 80px;
    border-radius: 90px;
    margin-top: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

fieldset {
    border: 3px solid #ffee00; /* Orange border */
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 1px;
    background-color: #f9f9f9; /* Light grey background */
}

legend {
    font-weight: bold;
    color: #4400ff; /* Orange color */
    font-size: 1.2em;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
}

input[type="text"], input[type="email"], textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 50px;
    font-size: 1.1em;
    background-color: #fff;
}

input[type="file"] {
    margin-bottom: 10px;
    font-size: 1.1em;
}

button {
    background-color: #32cd32; /* Lime green color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 1.1em;
}

button:hover {
    background-color: #fffb00; /* Darker green color */
}

#resumePreview {
    margin-top: 50px;
}

#personalInfo, #educationInfo, #skillsInfo, #workExperienceInfo {
    margin-bottom: 10px;
    background-color: #f0fff0; /* Honeydew background */
    padding: 10px;
    border-radius: 70px;
    border: 2px solid #32cd32; /* Lime green border */
}

#profile-pic {
    width: 150px; /* Increased size */
    height: 150px; /* Increased size */
    border-radius: 70%;
    display: block;
    margin: 10px auto;
    object-fit: cover;
    border: 3px solid #00aeff; /* Orange border */
}

h3 {
    color: #e100ff; /* Orange color */
    font-size: 1.2em;
}

p, ul {
    color: #555;
    font-size: 1.1em;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    background-color: #e0ffff; /* Light cyan background */
    margin: 5px 0;
    padding: 10px;
    border-radius: 90px;
    font-size: 1.1em;
    color: #333;
    border: 1px solid #32cd32; /* Lime green border */
}